<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="saml2TokenSettings" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <saml2TokenSettings>
    <add key="AudienceUri" value="https://www.federated.ip.com" />
    <add key="ConfirmationMethod" value="https://www.federated.ip.com" />
    <add key="Issuer" value="FederatedIP" />
    <add key="Namespace" value="FederatedIP_Authentication" />
    <add key="SubjectName" value="FederatedIP_Authentication_SAML2" />
    <add key="ValidFor" value="20" />
  </saml2TokenSettings>
  <appSettings>
    <add key="Environment" value="0" />
    <add key="EncryptionKey" value="DesignTimeEncryptionKey_ChangeOnImplimentation" />
  </appSettings>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
</configuration>